IMT 2200 - Introducción a Ciencia de Datos<br>
**Pontificia Universidad Católica de Chile**<br>
**Instituto de Ingeniería Matemática y Computacional**<br>
**Semestre 2025-S2**<br>
**Profesor:** Rodrigo A. Carrasco <br>

---

## Proyecto de Investigación – Terremotos en Chile

## Pregunta 2:
## **-Calcular los mayores terremotos por región**<br>

In [3]:
import pandas as pd
from os import chdir, getcwd
if 'Preguntas'in getcwd():
    chdir('../')

In [5]:
terremotos = pd.read_csv('data//query_limpio.csv', index_col=0)
terremotos = terremotos[["latitude", "longitude", "mag", "magType", "zone", "region"]] #Filtramos las regiones que trabajaremos para esta pregunta
terremotos.head()

   latitude  longitude  mag magType      zone       region
0  -30.6105   -71.2446  4.6      mb    Ovalle     Coquimbo
1  -18.9492   -69.4232  4.6      mb    Camiña     Tarapacá
2  -21.7142   -68.4897  4.7      mb   Ollagüe  Antofagasta
3  -19.3888   -69.2674  5.0      mb    Camiña     Tarapacá
4  -32.5045   -71.5221  4.7      mb  La Ligua   Valparaíso

Ordenamos el DataFrame de modo que los terremotos de mayor magnitud se encuentren en la parte superior.

In [14]:
terremotos = terremotos.sort_values(by='mag',ascending=False)
terremotos

      latitude  longitude  mag magType         zone       region
8810  -38.1430   -73.4070  9.5      mw     Valdivia     Los Ríos
4424  -36.1220   -72.8980  8.8     mww        Maule        Maule
8946  -28.2930   -69.8520  8.5      mw     Vallenar      Atacama
1947  -31.5729   -71.6744  8.3     mww      Illapel     Coquimbo
8974  -32.4000   -71.4000  8.2      mw   Valparaíso   Valparaíso
...        ...        ...  ...     ...          ...          ...
7157  -27.2890   -71.4050  4.5      ms      Copiapó      Atacama
7160  -33.9450   -72.3500  4.5      mb  San Antonio   Valparaíso
7172  -22.7950   -68.7920  4.5      mb       Calama  Antofagasta
7179  -24.1620   -70.7740  4.5      mb  Antofagasta  Antofagasta
7091  -33.2360   -71.7940  4.5      mb   Valparaíso   Valparaíso

[8977 rows x 6 columns]

Luego creamos un set que contenga todas la regiones contenidas en nuestro dataframe para poder extraer los datos de cada una, además por temas de comodidad, eliminamos Coquimbo del set y creamos un dataframe con la información de su terremoto de mayor magnitud; para facilitar la creación del dataframe que contenga exclusivamente el mayor terremoto de de cada región.

In [15]:
regiones = set(terremotos['region'])
regiones.remove('Coquimbo')
mayores_sismos = terremotos[terremotos['region'] == 'Coquimbo'].head(1)
mayores_sismos

      latitude  longitude  mag magType     zone    region
1947  -31.5729   -71.6744  8.3     mww  Illapel  Coquimbo

In [16]:
for region in regiones:
    otro1 = (terremotos[terremotos['region'] == region].head(1))
    mayores_sismos = mayores_sismos.merge(otro1, how='outer')
mayores_sismos

,latitude,longitude,mag,magType,zone,region
0,-53.9960,-70.0570,7.58,mw,Punta Arenas,Magallanes
1,-46.7807,-75.6402,6.30,mww,Cochrane,Aysén
2,-43.4064,-73.9413,7.60,mww,Quellón,Los Lagos
3,-38.1430,-73.4070,9.50,mw,Valdivia,Los Ríos
4,-38.0610,-73.0390,7.80,mw,Traiguén,Araucanía
5,-37.8240,-73.3530,8.10,mw,Cañete,Biobío
6,-36.2960,-72.2130,7.85,mw,San Carlos,Ñuble
7,-36.1220,-72.8980,8.80,mww,Maule,Maule
8,-34.3260,-71.7990,7.00,mwc,Santa Cruz,Libertador General Bernardo O'Higgins
9,-33.8320,-69.9580,6.81,mw,Puente Alto,Región Metropolitana
10,-32.4000,-71.4000,8.20,mw,Valparaíso,Valparaíso
11,-31.5729,-71.6744,8.30,mww,Illapel,Coquimbo
12,-28.2930,-69.8520,8.50,mw,Vallenar,Atacama
13,-23.3400,-70.2940,8.00,mw,Antofagasta,Antofagasta
14,-19.6097,-70.7691,8.20,mww,Iquique,Tarapacá
15,-19.0220,-69.9910,7.20,mw,Arica,Arica y Parinacota

In [17]:
mayores_sismos.describe()

        latitude  longitude        mag
count  16.000000  16.000000  16.000000
mean  -34.564044 -71.892875   7.858750
std     9.276644   1.714732   0.789336
min   -53.996000 -75.640200   6.300000
25%   -38.081500 -73.117500   7.485000
50%   -35.224000 -71.736700   7.925000
75%   -30.752925 -70.234750   8.225000
max   -19.022000 -69.852000   9.500000

Vemos que los valores están en el rango razonable y nada fuera de lo común. También podemos observar que no posee datos nulos y podemos trabajar con ellos.

In [18]:
mayores_sismos_clean = mayores_sismos.dropna()
mayores_sismos_clean = mayores_sismos_clean.drop_duplicates(keep='first')
print("Cantidad total de nulos en df:", mayores_sismos_clean.isnull().sum().sum())
print("Cantidad total de duplicados en df:", mayores_sismos_clean.duplicated().sum())

Cantidad total de nulos en df: 0
Cantidad total de duplicados en df: 0